<h1>{{product.id == null ? 'Add' : 'Edit'}} Product - {{product.id}}</h1>
<form>
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Product Name"  [(ngModel)]="product.name" name="name">
  
    <label for="author">Author</label>
    <input type="text" class="form-control" id="gender" placeholder="Gender" name="gender" [(ngModel)]="product.gender">
  
    <label for="author">Price</label>
    <input type="text" class="form-control" id="price" placeholder="Price" name="price" [(ngModel)]="product.price">
  
    <div class="form-group" *ngIf="product.id == null">
      <br>
      <input type="file" (change)="onFileChanged($event)">
      <img [src]="imgURL" height="200" width="200" *ngIf="imgURL">
    </div>
      
    <br><br>
    <button type="button" class="btn btn-success" (click)="saveProduct()">Save Product</button>
  </form>