<a class="btn btn-primary mb-3" (click)="addProduct()">Add New Product</a>
<div class="container row">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Gender</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.gender}}</td>
            <td>{{product.price}}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="viewProduct(product.id)" >Show Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <app-add-product  #upload *ngIf="action === 'add'" [product]="selectedProduct" (productAddedEvent)="refreshData()"></app-add-product>
      <app-product-details *ngIf="action === 'view'" [product]="selectedProduct" (productDeletedEvent)="refreshData()"></app-product-details>
    </div>
  </div>